<a href="https://colab.research.google.com/github/mirenecarmen/Curso-data-y-analytics/blob/main/clase3_3dic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python usos generales II

- Uso de For
- Comprensión de listas
- Mutabilidad e inmutabilidad
- Operaciones con diccionarios
- Funciones lambda

#- **Uso de For**

####✏️El bucle for se utiliza para recorrer los elementos de un objeto **iterable**

####✏️Un objeto iterable es aquel que admite la funcion iter()

📃 Una lista es iterable porque le puedo pedir valores

In [ ]:
lista=[10,2,4,3,5,6]
iterador=iter(lista)

In [ ]:
type(iterador)

list_iterator

¿como utilizamos este iterador?usamos una funcion que se llama **next()**,le pasamos nuestro iterador,entonces cada vez que haga correr el codigo irá iterando y mostrandome cada eleemtnos de la lista

In [ ]:
next(iterador)

6

"puntero" es una variable que tiene apuntada una direccion de memoria

📃 Los strings tambien son iterables

por ejemplo:

In [ ]:
pais='Argentina'

In [ ]:
iterador=iter(pais)

In [ ]:
next(iterador)

'e'

observamos que llama por letras.

pero tambien podemos hacer que itere una lista de string

In [ ]:
lista_paises=['Argentina','uruguay','Chile']

In [ ]:
iterador=iter(lista_paises)

In [ ]:
next(iterador)

'Chile'

📃El FOR nos ayuda a iterar en estos objetos, va a pedir todos los elementos hasta que se acaben.

📃En cada paso de la iteración se tiene en cuenta a un único elemento del objeto iterable, sobre el cuál se pueden aplicar una serie de operaciones.

📃Tiene la siguiente estructura:

In [ ]:
for variable in iterable:
    ##mi codigo

In [ ]:
numeros=[1,3,2,4]

por cada elementos de mi lista de nros,imprimir numeros

con el FOR no necesitas autoincrementar,la funcion solita va recorriendo

In [ ]:
for numero in numeros:
 print(numero)

1
3
2
4

quiero que la suma sea igual a la suma mas el nro,ademas printear.sumar todos los numeros d ela lista de nros

In [ ]:
suma=0
for nro in numeros:
  suma=suma + nro
  print(f'en esta iteracion se sumó el numero {nro} y el total de la suma es {suma}')

en esta iteracion se sumó el numero 1 y el total de la suma es 1
en esta iteracion se sumó el numero 3 y el total de la suma es 4
en esta iteracion se sumó el numero 2 y el total de la suma es 6
en esta iteracion se sumó el numero 4 y el total de la suma es 10

📃 Realizar la suma de los numeros comprendidos entre el 1 al 20 incluyendo ambos extremos

en este ejemplo podria ingresar los numeros manualmetne del 1 al 20,pero hay una funcion llamada *range()* que permite de una sola vez crearme una lista de nros desde y hasta el valor que quiero +1

In [ ]:
list(range(1,21))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
type(range(1,21))

range

In [ ]:
suma=0
for nro in list(range(1,21)):
  suma=suma + nro
  print(f'en esta iteracion se sumó el numero {nro} y el total de la suma es {suma}')

en esta iteracion se sumó el numero 1 y el total de la suma es 1
en esta iteracion se sumó el numero 2 y el total de la suma es 3
en esta iteracion se sumó el numero 3 y el total de la suma es 6
en esta iteracion se sumó el numero 4 y el total de la suma es 10
en esta iteracion se sumó el numero 5 y el total de la suma es 15
en esta iteracion se sumó el numero 6 y el total de la suma es 21
en esta iteracion se sumó el numero 7 y el total de la suma es 28
en esta iteracion se sumó el numero 8 y el total de la suma es 36
en esta iteracion se sumó el numero 9 y el total de la suma es 45
en esta iteracion se sumó el numero 10 y el total de la suma es 55
en esta iteracion se sumó el numero 11 y el total de la suma es 66
en esta iteracion se sumó el numero 12 y el total de la suma es 78
en esta iteracion se sumó el numero 13 y el total de la suma es 91
en esta iteracion se sumó el numero 14 y el total de la suma es 105
en esta iteracion se sumó el numero 15 y el total de la suma es 120
en esta iteracion se sumó el numero 16 y el total de la suma es 136
en esta iteracion se sumó el numero 17 y el total de la suma es 153
en esta iteracion se sumó el numero 18 y el total de la suma es 171
en esta iteracion se sumó el numero 19 y el total de la suma es 190
en esta iteracion se sumó el numero 20 y el total de la suma es 210

otro ejemplo:

In [ ]:
list(range(4,7))

[4, 5, 6]

📃 Necesitamos printear los nombres de los strings dentro de una lista

In [ ]:
lista_nombres=['pedro','Gisella','Agustin','Marcelo']

In [ ]:
for nombre in lista_nombres:
  print(nombre)

pedro
Gisella
Agustin
Marcelo

tambien puedo enumerar cada elemento con su subindice dentro de la lista,con la funcion **enumerate()**

y obtengo como resultado una ¿¿¿que cosa???

In [ ]:
list(enumerate(lista_nombres))

[(0, 'pedro'), (1, 'Gisella'), (2, 'Agustin'), (3, 'Marcelo')]

**Diccionarios**

Podemos trasladar el concepto de diccionario de la vida real al de diccionario en Python. Al fin y al cabo un diccionario es un objeto que contiene palabras, y cada palabra (clave) tiene asociado un significado (el valor)

Las claves deben ser únicas en un diccionario y no se permiten repeticiones.

![](https://aprendepython.es/_images/dicts.jpg) ![](https://programmathically.com/wp-content/uploads/2021/05/dictionary-1024x554.png)

📌Crear un diccionario que tenga como claves los nombres de los paises y como valor su PBI: *para crear un diccionario usamos llaves {} rodeando asignaciones clave: valor que están separadas por comas.*

**PBI en miles de millones (2021):**

Argentina = 388.28
Brasil = 1434.08
Chile = 252.76
Paraguay = 35.88
Uruguay = 55.71

si necesito en archivo jason debo poner **commillas dobles**

In [ ]:
paises_pbi={'Argentina':388.28,'Brasil':1434.08,'Chile':252.76,'paraguay':35.88,'Uruguay':55.71}

In [ ]:
paises_pbi

{'Argentina': 388.28,
 'Brasil': 1434.08,
 'Chile': 252.76,
 'paraguay': 35.88,
 'Uruguay': 55.71}

📌 Obtener el valor del PBI de Argentina y pasarlo de miles de millones de dolares a dolares

¿como accedo al valor que tiene la clave?primero busco la clave(Argentina) y luego ,coomo tengo que pasarlo a dolares,lo multiplico por 10

In [ ]:
paises_pbi['Argentina']*10**12

388280000000000.0

📌 ¿Que pasa si intentamos acceder a una clave que no existe?

In [ ]:
paises_pbi['Mexico']

KeyError: ignored

**📌** Añadir o modificar un elemento:

Para añadir un elemento a un diccionario sólo es necesario hacer referencia a la clave y asignarle un valor:

- Si la clave ya existía en el diccionario, se reemplaza el valor existente por el nuevo.

- Si la clave es nueva, se añade al diccionario con su valor.

por ejemplo:quiero modificar "Argentina" (ya existe),entonces se rremplazará el valor

In [ ]:
paises_pbi['Argentina'] = 'el mejor pais'

In [ ]:
paises_pbi

{'Argentina': 'el mejor pais',
 'Brasil': 1434.08,
 'Chile': 252.76,
 'paraguay': 35.88,
 'Uruguay': 55.71}

si la clave es nueva,veamos que sucede:

In [ ]:
paises_pbi['Mexico']='tiene camiseta verde'

In [ ]:
paises_pbi

{'Argentina': 'el mejor pais',
 'Brasil': 1434.08,
 'Chile': 252.76,
 'paraguay': 35.88,
 'Uruguay': 55.71,
 'Mexico': 'tiene camiseta verde'}

:La forma de comprobar la existencia de una clave dentro de un diccionario, es utilizar el operador **in**:

es para saber si el elemento existe en la lista

In [ ]:
'Argentina' in paises_pbi

True

In [ ]:
'Belgica' in paises_pbi

False

📌Crear un diccionario que tenga como **clave** el año y como **valor** una lista donde el primer elemento es el el PBI estimado de EEUU y el segundo el de CHINA


![]()

In [ ]:
estimacion_pbi={
 2020: [20932.8, 14722.8],
 2021: [22675.3, 16642.3],
 2022: [24003.7, 18013.4],
 2023: [24892.6, 19423.5],
 2024: [25790.1, 20910.5],
 2025: [26719.6, 22481.4],
 2026: [27659.2, 24127.8]
}

In [ ]:
estimacion_pbi

{2020: [20932.8, 14722.8],
 2021: [22675.3, 16642.3],
 2022: [24003.7, 18013.4],
 2023: [24892.6, 19423.5],
 2024: [25790.1, 20910.5],
 2025: [26719.6, 22481.4],
 2026: [27659.2, 24127.8]}

📌 Obtener solo los valores del diccionario

utilizo **values**

In [ ]:
list(estimacion_pbi.values())

[[20932.8, 14722.8],
 [22675.3, 16642.3],
 [24003.7, 18013.4],
 [24892.6, 19423.5],
 [25790.1, 20910.5],
 [26719.6, 22481.4],
 [27659.2, 24127.8]]

📌 Obtener solo los años que maneja el dataset

utilizo **keys**

In [ ]:
list(estimacion_pbi.keys())

[2020, 2021, 2022, 2023, 2024, 2025, 2026]

📌 Longitud de un diccionario

utilizo **len()**

In [ ]:
len(estimacion_pbi)

7

📌 Como interactua con un FOR?

In [ ]:
for clave in estimacion_pbi:
  print(estimacion_pbi[clave])

[20932.8, 14722.8]
[22675.3, 16642.3]
[24003.7, 18013.4]
[24892.6, 19423.5]
[25790.1, 20910.5]
[26719.6, 22481.4]
[27659.2, 24127.8]

ahora solo itero sobre la lista de valores

Escriba un programa en Python que acepte una lista de palabras y las agrupe por su letra inicial usando un diccionario

con "letra=palabra[0]" hago que por cada palabra del diccionario saque la primera letra

In [ ]:
palabras = [
    'mesa',
    'móvil',
    'barco',
    'coche',
    'avión',
    'bandeja',
    'casa',
    'monitor',
    'carretera',
    'arco',
]

In [ ]:
dict_pal={}
for palabra in palabras:
   letra = palabra[0]

   if letra not in dict_pal:
     dict_pal[letra]=[palabra]
   else:
     dict_pal[letra].append(palabra)
  
dict_pal

{'m': ['mesa', 'móvil', 'monitor'],
 'b': ['barco', 'bandeja'],
 'c': ['coche', 'casa', 'carretera'],
 'a': ['avión', 'arco']}

In [ ]:
dict_pal={}
for palabra in palabras:
   letra = palabra[0]
   print(palabra[0])

   if letra not in dict_pal:
     print(f'no existe la letra,agregando {letra}')
     dict_pal[letra]=[palabra]
   else:
     print(f'apendeando {palabra} al diccionario')
     dict_pal[letra].append(palabra)
  
dict_pal

m
no existe la letra,agregando m
m
apendeando móvil al diccionario
b
no existe la letra,agregando b
c
no existe la letra,agregando c
a
no existe la letra,agregando a
b
apendeando bandeja al diccionario
c
apendeando casa al diccionario
m
apendeando monitor al diccionario
c
apendeando carretera al diccionario
a
apendeando arco al diccionario

{'m': ['mesa', 'móvil', 'monitor'],
 'b': ['barco', 'bandeja'],
 'c': ['coche', 'casa', 'carretera'],
 'a': ['avión', 'arco']}

# **Compresión de listas**

Es una forma "linda" y compacta de crear listas a partir de un iterable, hay que saber utilizar esta estructura porque se usa muchisimo.

📌Ejercicio: Generar una lista de con la ***función*** range()

In [ ]:
listaNumeros=list(range(5))
listaNumeros

[0, 1, 2, 3, 4]

📌Ejercicio: Multiplicar a cada elemento de la lista dada por 2

In [ ]:
listanueva=[]
for numero in listaNumeros:
  listanueva.append(numero*2)

listanueva

[0, 2, 4, 6, 8]

In [ ]:
len(listaNumeros)

5

In [ ]:
for numero in range(len(listaNumeros)):
  listaNumeros[numero]=listaNumeros[numero]*2

listaNumeros

[0, 2, 4, 6, 8]

📌 Ahora hacerlo con compresion de listas

![](https://aprendepython.es/_images/list-comprehensions.png)

In [ ]:
listaNueva=[elemento for elemento in listaNumeros]
listaNueva

[0, 2, 4, 6, 8]

pone cada elemento en la lista de numeros

In [ ]:
id(listaNumeros)

140019868780992

📌Ejercicio: Multiplicar a cada elemento PAR de la lista por 2

o sea a cada "elemento" de "listaNumeros"  multiplicar por dos

In [ ]:
listaNueva=[elemento*2 for elemento in listaNumeros]
listaNueva

[0, 4, 8, 12, 16]

In [ ]:
def multiplicarpordos(numero):
  return numero*2

In [ ]:
listaNueva = [multiplicarpordos(elemento) for elemento in listaNumeros]
listaNueva

[0, 4, 8, 12, 16]

In [ ]:
listaPares=[]
for numero in listaNumeros:
  if numero%2==0:
    listaPares.append(numero*2)
  else:
    listaPares.append(numero)

In [ ]:
listaPares

[0, 4, 8, 12, 16]

📌 Ahora hacerlo con compresion de listas

In [ ]:
[elemento for elemento in listaNumeros]

[0, 2, 4, 6, 8]

In [ ]:
[elemento*2 if elemento%2==0 else elemento for elemento in listaNumeros]

[0, 4, 8, 12, 16]

📌Ejercicio: Multiplicar a cada elemento PAR de la lista por 2 y si es IMPAR dejarlo como 0

In [ ]:
[elemento*2 if elemento%2==0 else elemento*0 for elemento in listaNumeros]

[0, 4, 8, 12, 16]

📌Ejercicio: dada una lista de numeros, quedarse solo con los numeros pares y luego sumarles 2 a los mayores de 5

In [ ]:
listaNumeros

[0, 2, 4, 6, 8]

In [ ]:
[elemento+2 if elemento>5 else elemento for elemento in listaNumeros if elemento%2==0]

[0, 2, 4, 8, 10]

osea:primero sacamos todos los impares,nos queda [2,4,6,8] y despues a los elementos mayores que 5 le sumo 2.

# **Funciones lambda**

Las expresiones lambda en Python son una forma corta de declarar funciones pequeñas y anónimas (no es necesario proporcionar un nombre para las funciones lambda)

En otras palabras: **las funciones lambda son iguales que las funciones comunes solo que son mas cortitas de escribir y tienen un nombre que da mas miedo**

**En la ENORME mayoria de casos se utilizan con estas funciones map(), filter(), apply(), applymap()**

Generar a partir de la funcion sumar 10 una funcion lambda

In [ ]:
def suma10(numero):
  return numero+10

In [ ]:
x=suma10(2)
x

12

ejemplo:

In [ ]:
suma10=(lambda numero:numero+10)
suma10

Una pequeña muestra de como funciona una lambda con la funcion map()

map es una funcion que acepta dos parametros: un iterador (por ejemplo una lista) y una funcion

Aplica la funcion a cada elemento del iterador y devuelve el resultado

Dada una lista sumarle 10 a todos sus elementos

In [ ]:
numeros = [1,2,3,4,5,6]

In [ ]:
numero_sumados=[]
for numero in numeros:
  numero_sumados.append(suma10(numero))
numero_sumados

[11, 12, 13, 14, 15, 16]

In [ ]:
numero_sumados=list(map((lambda numero: numero+10),numeros))

In [ ]:
numero_sumados

[11, 12, 13, 14, 15, 16]

ahora:

lambda es solo para usar con listas?? averiguar

In [ ]:
numero_sumados=list(map(suma10,numeros))

In [ ]:
numero_sumados

[11, 12, 13, 14, 15, 16]

## Entonces para que me explicaste las lambdas si puedo usar las comunes y listo?

Un error comun al utilizar funciones: no entender la diferencia entre un **return** y un **print**

**Si no ponemos un return la funcion devuelve un objeto de tipo NoneType es decir un objeto que me dice que no devuelve NADA**

las funciones que devuelven un print es desaprobado

In [ ]:
def suma10(numero):
  print(numero + 10)

x = suma10(2)
print(x)

#siempre usar return

**Si pongo un print en mi funcion, la funcion hace que se imprima algo al usuario pero sigue devolviendo NADA**

Para que la funcion me devuelva algo es necesario que exista un **return** y es lo que generalmente se utiliza porque se espera tomar el resultado de esa funcion para seguir realizando el codigo

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# **Inmutabilidad vs Mutabilidad**


Hablemos un poco de las variables. Cuando asignamos un valor a una variable, lo que realmente está ocurriendo es que se hace apuntar el nombre de la variable a una zona de memoria. Una variable es un nombre, no un lugar

📌Ejercicio: Asignar a una variable 'a' un valor entero y determinar su direccion de memoria

In [4]:
a=5
id(a)

11531040

este valor que nos aparece representa el espacio de la memoria en el cual esta almacenado el 5."a" apunta a un "5" que esta en ese espacio de memoria

📌Ejercicio: Asignar a una variable 'b' el valor de 'a'

In [5]:
b=a
id(b)

11531040

¿Que paso con las direcciones de memoria?¿Son iguales?¿Distintas?

respuesta: son iguales

In [6]:
print(id(a))
print(id(b))

11531040
11531040

¿Y esto qué tiene que ver con la mutabilidad? Se dice que un entero es inmutable ya que a la hora de modificar su valor obtenemos una nueva zona de memoria, o lo que es lo mismo, un nuevo objeto:

📌Ejercicio: Modificar el valor de 'a' y determinar su direccion de memoria

In [7]:
a=3
id(a)

11530976

📌Ejercicio: Observar que paso con la variable 'b'

no modificó su valor,a diferencia de "a"

In [8]:
id(b)

11531040

- Nota: ¿Que ocurre con el espacio en memoria que tenia el valor asigando 'a'? Las memorias tienen recolectores de basura que sacan estas espacios en memoria libres

entonces tenemos los tipos de datos:

**mutables**:sonn os que pueden cambiar en el espacio de memoria(string,int,bool,


**inmutables**:son lo que no cambian (diccionario,tuplas,listas)se tiene que conservar la cabecera

Si tratamos con listas, podemos ver que la modificación de alguno de sus valores no implica un cambio en la posición de memoria de la variable, por lo que se habla de objetos mutables

📌Ejercicio: Generar una lista y determinar la dirección de memoria

In [10]:
lista=list(range(10))
lista

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
id(lista)

139704983843008

In [13]:
id(lista[3])

11530976

📌Ejercicio: Generar otra lista y asignar los valores de la lista generada previamente

In [14]:
listaNueva=lista

In [15]:
listaNueva

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

📌Ejercicio: Observar sus direcciones de memoria

In [16]:
id(listaNueva)

139704983843008

📌Ejercicio: Modificar una lista y ver que comportamiento toma la otra

In [22]:
lista.append('pedro')
lista

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 'pedro',
 'pedro',
 'pedro',
 'pedro',
 'ivan',
 'pedro']

In [23]:
listaNueva.append('ivan')
listaNueva

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 'pedro',
 'pedro',
 'pedro',
 'pedro',
 'ivan',
 'pedro',
 'ivan']

In [24]:
lista

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 'pedro',
 'pedro',
 'pedro',
 'pedro',
 'ivan',
 'pedro',
 'ivan']

 - Nota: ¿Como escapar de este comportamiento? uso de ***copy()***

 con **copy** hago una copia de la lista

In [28]:
listaNueva = lista.copy()

In [29]:
id(listaNueva)

139705142509376

In [30]:
listaNueva.append('mariano')

vemos que "lista" no tiene a mariano,pero listanueva si,porque es una copia

In [31]:
listaNueva

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 'pedro',
 'pedro',
 'pedro',
 'pedro',
 'ivan',
 'pedro',
 'ivan',
 'mariano']

In [32]:
lista

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 'pedro',
 'pedro',
 'pedro',
 'pedro',
 'ivan',
 'pedro',
 'ivan']