<a href="https://colab.research.google.com/github/mirenecarmen/Curso-data-y-analytics/blob/main/clase2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python usos generales I


*   introduccion a python
*   uso de split,replace,capitalize,count
*   condicion,ciclos
*   introduccion a listas
*   funciones

VARIABLES ,TIPOS DE DATOS Y OPERACIONES

Variables:


*   un variable es un contenedor de informacion
las variables sirven para retener informacion,y que no se pierda,referencia un espacio en memoria.
cada variable debe llevar un nombre a traves del cual nos referimos a ella,los nombres deben ser unicos e irrepetibles.si el nombre de la variable se compone de muchas palabras,las mismas pueden ser separadas por un guion bajo (snake_case) o empezando cada palabra por mayuscula a partir de la segunda (camelCase) o a partir de la primera (PascalCase)

ejemplo:asignamos el valor 3 a una variable que creamos,de nombre x

In [ ]:
x=3
x

3

evaluamos e imprimimos en pantalla el resultado

In [ ]:
print(x)

3

ejemplo:asignamos el valor 15,7 a una nueva variable de nombre y

In [ ]:
y=15.7
y

15.7

podemos definir una nueva variable como la suma de las dos anteriores

In [ ]:
z=x+y
z

18.7

pero en la variable podemos meter mas cosas ademas de numero,coomo por ej. un String

ejemplo:asignar a una variable que se llame "texto" el valor de "Hola"

In [ ]:
texto='Hola'
texto

'Hola'

ejecutar las siguientes celdas ¬øcual es la diferencia?
la diferencia es que en la primera solo estoy viendo el contenido de la variable
en la segunda estoy imprimiendo la variable (con el print)

In [ ]:
texto='Hola'
texto

'Hola'

In [ ]:
print(texto)

Hola

si hago "type" puedo ver el tipo de variable,en el caso de "texto" es un STR mientras que el "print(texto)" es un nonetype ,o sea ningun tipo de dato

In [ ]:
type(texto)

str

In [ ]:
type(print(texto))

Hola

NoneType

puedo "printear" string/texto directamente sin usar variables

In [ ]:
print('hola')

hola

In [ ]:
x+print('hola')

hola

TypeError: ignored

al correr esta ultima linea,deben ver un mensaje de error,√©stos son importantes,en este caso,nos esta avisando que no puede imprimir la variable ,ya que la eliminamos y no esta definida.

In [ ]:
texto='juan'
texto

'juan'

In [ ]:
x=3
x

3

In [ ]:
type(x)

int

In [ ]:
x+texto

TypeError: ignored

en este caso nos devuelve error porque no podemos sumar nros mas textos

y ahora probamos pasando el nro a texto (es "forzar el tipo de variable")covertir int en string o castear string en int???

In [ ]:
str(x)+texto

'3juan'

In [ ]:
texto='123'
print(x+int(texto))

126

comentarios:los comentarios se crean con #

In [ ]:
#este codigo se encarga de ..bla bla

In [ ]:
#los comentarios se abren con un #

**tipos de Datos**


*   booleano           bool
*   entero             int
*   flotante           float
*   complejo           complex
*   cadena             str
*   tupla              tuple
*   lista              list
*   conjunto           set
*   diccionario        dict

 cuando definimos una variable,dependiendo del contenido que le asignamos,la misma ser√° de un determinado tipo.
 *el diccionario es el equivalente al json

In [ ]:
x=4
type (x)

int

In [ ]:
x=4.0
type(x)

float

In [ ]:
x='texto'
type(x)

str

In [ ]:
x=False
type(x)

bool

In [ ]:
x=['pedro','pereyra']
type(x)

list

podemos destacar,que usamos la misma variable en todos los casos,es decir,la sobreescribimos,es una facilidad de python que no necesitamos declararla ,inicializarla,solo tienen el mismo nombre,pero NO ESTAN EN EL MISMO ESPACIO DE MEMORIA.

una situacion simple es cuando queremos introducir una comilla(simple o doble)dentro de una cadena

In [ ]:
"Pepito expres√≥: \"a la marcha!!\""

'Pepito expres√≥: "a la marcha!!"'

####‚ö†Ô∏è **Nota**: a pesar de ser un n√∫mero, la variable 'o' es de tipo `string`. Esto se debe a que lo pusimos entre comillas.

Operaciones üßÆ

üí° Operaciones con n√∫meros

suma

In [ ]:
a=10
b=15
a+b

25

resta

In [ ]:
a=15
b=10
a-b

5

multiplicacion

In [ ]:
a=5
b=10
a*b

50

In [ ]:
b/a

0.25

In [ ]:
a%b

0

üí° Podemos ver que la division entre dos numeros de tipo int nos dios un float
                             
üí° Podemos realizar operaciones entre distintos tipos de variables: entre un int y un float

In [ ]:
6+6.33

12.33

‚ö° ¬øDe qu√© tipo es la variable resultante?

In [ ]:
type(6+6.33)

float

‚ö°Ejercicio: Calcular el porcentaje que representa el valor 17 sobre un total de 54 y guardarlo en una variable llamada porcentaje. Al finalizar, mostrar el resultado de un forma comprensible.

solucion1

In [ ]:
porcentaje=17*100/54
porcentaje

31.48148148148148

solucion2

In [ ]:
porcentaje=(17/54)*100
print(porcentaje,'%')

31.48148148148148 %

solucion3

In [ ]:
a=19
b=54

In [ ]:
porcentaje=(a/b)*100
porcentaje

35.18518518518518

In [ ]:
print('el pocentaje que representa [a] sobre [b] es (round(porcentaje,2f)%')

el pocentaje que representa [a] sobre [b] es (round(porcentaje,2f)%

Metodos sobre cadenas

üí°Los metodos son acciones que se le aplican a un OBJETO

In [ ]:
apellido='pereyra'

üí°Uso de split(parametro/s). Se utiliza para separar una cadena, seg√∫n un separador. Si no se pasa el par√°metro te toma el separador como espacios en blanco.

In [ ]:
apellido.split(sep='y')

['pere', 'ra']

In [ ]:
apellido.split(sep='e')

['p', 'r', 'yra']

In [ ]:
apellido.split()

['pereyra']

tarea:asignar a una variables los distintos tipos de ingesta que conocen,con libre eleccion de separador.
Se busca separar los distintos tipos de ingesta
Como resultado obtenemos una *lista*

In [ ]:
tiposDeIngesta='batch-streaming'
listaIngesta=tiposDeIngesta.split('-')
listaIngesta

['batch', 'streaming']

In [ ]:
print(listaIngesta)

['batch', 'streaming']

In [ ]:
type(tiposDeIngesta.split('-'))

list

üí°Ademas split(parametro/s) utiliza un parametro adicinal: **maxsplit**, que determina el limite de particiones

Cada vez que encuentre una "t" va a separar ,y separa√° un maximo de ..segun el nro que ponga en "maxsplit"

In [ ]:
tiposDeIngesta.split(sep='t',maxsplit=2)

['ba', 'ch-s', 'reaming']

tarea:asignar a una variable los dintintos tipos de datos que existe,con libre eleccion de separador.

se debe utilizar parametro adicional 'maxsplit'
Como resultado vemos que se generan 4 strings

In [ ]:
tiposDeDatos='int,float,string,lista,tupla,diccionario,none,booleano'

In [ ]:
tiposDeDatos.split(sep='t',maxsplit=3)

['in', ',floa', ',s', 'ring,lista,tupla,diccionario,none,booleano']

üí°Uso de replace(parametro/s). Se utiliza para reemplazar una segmento o toda una cadena respecto de otra

en este ejemplo reemplazo las "," por ";"

In [ ]:
tiposDeDatos.replace(',',';')

'int;float;string;lista;tupla;diccionario;none;booleano'

ahora quiero que en lugar de "int" diga "enteros"

In [ ]:
tiposDeDatos.replace('int','enteros')

'enteros,float,string,lista,tupla,diccionario,none,booleano'

observamos que el tipo de dato no cambi√≥ (porque no lo guardamos en ninguna variable aun)

Tarea:guardar en una variable las formas de ingesta que conocen y reemplazar la primera vocal que aparezca por "AZ"

In [ ]:
formasDeIngesta='Full,Incrementalu'

In [ ]:
formasDeIngesta.replace('u','AZ',2)

'FAZll,IncrementalAZ'

üí°Uso de capitalize(). Se utliza para poner primer car√°cter en may√∫sculas y el resto en min√∫sculas

In [ ]:
nombre='pEdro PeReyra'

In [ ]:
nombre.capitalize()

'Pedro pereyra'

tarea:guardar en una variable una zona del datalake y transformar su primer caracter en mayuscula.

In [ ]:
zonaDataLake='bronzeSilverGold'
zonaDataLake.capitalize()

'Bronzesilvergold'

üí°Uso de count(parametro/s). Se utliza para encontrar las ocurrencias de cierto caracter en una cadena

In [ ]:
zonaDataLake.count('e')

2

tarea:guardar en una variable algun rol que conozcan en el mundo de los datos y contar la cantidad de ocurrencias de la vocal "a"

In [ ]:
rolesMundoDatos='ingenieroDeDatos,Arquitecto de datos, Analista de Datos,Cientifico de Datos'
rolesMundoDatos.count('a')

6

In [ ]:
rolesMundoDatos

'ingenieroDeDatos,Arquitecto de datos, Analista de Datos,Cientifico de Datos'

In [ ]:
rolesMundoDatos.lower()

'ingenierodedatos,arquitecto de datos, analista de datos,cientifico de datos'

In [ ]:
rolesMundoDatos.lower().count('a')

8

obsetvamos que cuenta solo las minusculas

üí°Uso de **dir(texto)** (ES UNA FUNCION). muestra todos los metodos que se le pueden aplicar a una cadena como a una lista.

Muestra todos los metodos asociados aun tipo de dato.

In [ ]:
dir(roles)

NameError: ignored

* Operadores de Comparaci√≥n y Operadores L√≥gicos *

üí°Un operador de comparaci√≥n se emplea para comparar. Devuelve un valor booleano (true o false) dependiendo del resultado de la comparacion

igual que ==

In [ ]:
3==3

True

In [ ]:
3=='3'

False

In [ ]:
'hola'=='Hola'

False

In [ ]:
type(3>4)

bool

es distinto de !=

In [ ]:
3!='3'

True

es menor que <

es menor o igual que <=

es mayor que >

es mayor o igual que >=

üí° Operadores l√≥gicos
- **and** ( y ): compara dos valores, y si ambos son verdaderos, devuelve True.
- **or** ( √≥ ): si al comparar dos valores y uno de los dos se cumple, devuelve True. Solo devuelve falso cuando los dos valores no se cumplen.
- **not** ( no ): invierte el valor de una variable, dando el valor contrario al de la variable evaluada.

In [ ]:
3==3 and 4==4

True

In [ ]:
3==3 or 4==5

True

In [ ]:
not True

False

In [ ]:
not (3==3 and 4==4)

False

üí°Condicional **IF**

El if se utiliza para ejecutar un bloque de c√≥digo si, y solo si, se cumple una determinada condici√≥n. Por tanto, if es usado para la toma de decisiones.

Una de las caracter√≠sticas m√°s distintivas de Python es el uso de indentaciones para marcar bloques de c√≥digo.

In [ ]:
if condicion
 #mi codigo si la condicion es true
 elif condicion2:
  #mi codigo si la condicion2 es True
  else
  #mi codigo si las otras condiciones no se activan

In [ ]:
if 3==3:
print('hola')

IndentationError: ignored

In [ ]:
if 3==3:
 print('hola')

hola

In [ ]:
if 1<2:
    print('es verdadero')
else:
    print('es Falso')

es verdadero

In [ ]:
x=9
y=7
if x<y:
  print('x es menor')
else:
  print('x es mayor')

x es mayor

In [ ]:
Llueve=True

In [ ]:
if Llueve:
    print('no salgo')
else:
    print('salgo')

no salgo

üí°Pero hay veces que el dia esta lindo pero no puedo andar en bici

‚ö°Voy a andar en bici solo si no llueve y tengo bici

In [ ]:
Bici=False

In [ ]:
if Bici and not Llueve:
  print('salgo en bici')
elif not Bici and not Llueve:
  print('salgo caminando')
else:
  print('me quedo en casa')

me quedo en casa

pero hay veces que no llueve pero igual esta feo para salir

In [ ]:
Nublado=True
Llueve=True
Bici=True

In [ ]:
if not Nublado:
  if Bici and not Llueve:
   print('salgo en bici')
  elif not Bici and not Llueve:
    print('salgo a caminar')  
  else:
   print('me quedo en casa')
else:
  print('me quedo mirando netflix')

me quedo mirando netflix

si llueve o hay invasion zombie me quiero quedar en casa mirando Netflix

In [ ]:
InvasionZombie=False
if Llueve or InvasionZombie:
   print('me quedo en casa mirando netflix')
else:
    print('que vida aburrida')

me quedo en casa mirando netflix

Hacer un script que dado un numero entero,imprima en pantalla si es negativo,positivo o cero.

In [ ]:
numero =-7
if numero == 0:
  print('es cero')
elif numero <  0:
  print('numero es negativo')
else:
  print('numero es positivo')

numero es negativo

üí°La funcion **input** permite obtener texto escrito por teclado.Al llegar a la funcion,e programa se detiene esperando que se escriba algo y se pulse la tecla INTRO,de forma predeterminada,la funcion input() convierte la entrada en una cadena.

In [ ]:
entrada = input('ingrese numero')
type(entrada)

ingrese numero3

str

In [ ]:
entrada = int(input('ingrese numero'))
type(entrada)

ingrese numero6

int

üí°Bucle While

üí°El bucle while eval√∫a una condici√≥n y luego ejecuta un bloque de c√≥digo si la condici√≥n es verdadera.

üí°El bloque de c√≥digo se ejecuta repetidamente hasta que la condici√≥n llega ser o es falsa.

In [ ]:
while condicion:
  #ejectuta codigo

In [ ]:
numeroEntrada = int(input('ingrese un numero'))

while numeroEntrada < 100:
  numeroEntrada = numeroEntrada*2
  print('el numero es ', numeroEntrada)

ingrese un numero1
el numero es  2
el numero es  4
el numero es  8
el numero es  16
el numero es  32
el numero es  64
el numero es  128

In [ ]:
numeroEntrada = int(input('ingrese un numero'))

while numeroEntrada < 100:
  if numeroEntrada <= 50:
   numeroEntrada = numeroEntrada*2
  else:
    break
  print('el numero es ', numeroEntrada)

ingrese un numero1
el numero es  2
el numero es  4
el numero es  8
el numero es  16
el numero es  32
el numero es  64

el bucle while siempre tiene que tener una condicion para que evite los loops infinitos

tarea:crear un script que reciba un nombre de usuario y contrase√±a y compruebe si es correcta,en caso contrario,que la pida nuevamente.

In [2]:
usuario='pedro'
contrasenia='Facil1234'

InputUsuario=input('ingrese nombre de usuario')
InputContrasenia=input('ingrese su Contrase√±a')

while InputUsuario != usuario or InputContrasenia != contrasenia:
  print ('su usuario o contrase√±a son incorrectas,por favor ingrese nuevamente')
  InputUsuario=input('ingrese nombre de usuario')
  InputContrasenia=input('ingrese su Contrase√±a')

print('acceso correcto')

ingrese nombre de usuariopedro
ingrese su Contrase√±afacil1234
su usuario o contrase√±a son incorrectas,por favor ingrese nuevamente
ingrese nombre de usuariopedro
ingrese su Contrase√±aFacil1234
acceso correcto

Listas

Las listas en python son un tipo de dato que perrmite almacenar datos de cualquier tipo,ser√≠a como aeeays en otros lenguajes.

In [46]:
ListaDeNombres = ['pedro','Mariano','Mauricio','Lucas','Rocio','gisela','Matias','Irene',1,2,3,['123','1']]

In [47]:
ListaDeNombres

['pedro',
 'Mariano',
 'Mauricio',
 'Lucas',
 'Rocio',
 'gisela',
 'Matias',
 'Irene',
 1,
 2,
 3,
 ['123', '1']]

por ejemplo,queremos acceder al indice 13 de la lista

In [13]:
ListaDeNombres[0]

13

tarea:generar una lista con los roles del mundo de los datos

In [14]:
ListaDeRoles = ['Analista de Datos','Ingeniero de Datos','Cientifico de Datos','Arquitecto de Datos']

In [15]:
type(ListaDeRoles[0])

str

¬øcomo saber la cantidad d eelementos?

üí°Uso de **len()** se utiliza para saber la longitud de la lista


es un metodo?no,estoy usando la funcion **len()** y le estoy pasando como parametro mi "lista de roles"

¬°¬°¬°atencion!! **len()** empieza en la posicion 1 ,por eso se pone el signo "menos"

In [17]:
len(ListaDeRoles)

4

In [20]:
len(ListaDeNombres[13])

IndexError: ignored

tarea:Hacer un script en el cual el usuario ingrese un rol y devuelva por pantalla si pertenece o no a la lista de roles

In [22]:
entrada = input('ingrese un rol de datos')

if entrada in ListaDeRoles:
 print(f'{entrada} pertenece a los roles de datos')
else:
  print(f'{entrada} no es un rol de datos')

ingrese un rol de datosAnalista de Datos
Analista de Datos pertenece a los roles de datos

üí°Uso de **append()** se utiliza para agregar elementos al final de la lista,dado una posicion.

tarea:agregar un nuevo rol a la lista de roles en la ultima posicion

In [23]:
ListaDeRoles.append('Desarrollador')

In [24]:
ListaDeRoles

['Analista de Datos',
 'Ingeniero de Datos',
 'Cientifico de Datos',
 'Arquitecto de Datos',
 'Desarrollador']

üí°Uso de **insert()**se utiliza para agregar elementos a una lista ,dada una posicion

**el insert nos pide la posicion y el dato a ingresar**

tarea:agrega un rol nuevo a la lista de roles en la ultima posicion

In [25]:
ListaDeRoles.insert(1,'Mago de Datos')

In [26]:
ListaDeRoles

['Analista de Datos',
 'Mago de Datos',
 'Ingeniero de Datos',
 'Cientifico de Datos',
 'Arquitecto de Datos',
 'Desarrollador']

tarea:ahora quiero usar el **insert** para mandarlo al final,o sea agarrar un elemento y mandarlo al final en una nueva posicion.o sea una posicion 7

In [27]:
ListaDeRoles.insert(len(ListaDeRoles),'Mago de Datos')

In [28]:
ListaDeRoles

['Analista de Datos',
 'Mago de Datos',
 'Ingeniero de Datos',
 'Cientifico de Datos',
 'Arquitecto de Datos',
 'Desarrollador',
 'Mago de Datos']

nos volvemos a preguntar cuantos datos tenemos

In [29]:
len(ListaDeRoles)

7

tarea:agregar una lista de numero a la lista de roles

In [30]:
ListaDeRoles.append([33,22,12])

In [31]:
ListaDeRoles

['Analista de Datos',
 'Mago de Datos',
 'Ingeniero de Datos',
 'Cientifico de Datos',
 'Arquitecto de Datos',
 'Desarrollador',
 'Mago de Datos',
 [33, 22, 12]]

üí°Uso de **sum()** se utiliza para saber la suma total de una lista

tarea:realizar la suma de la lista de numeros agregados previamente

In [32]:
len(ListaDeRoles)

8

In [33]:
sum(ListaDeRoles[len(ListaDeRoles)-1])

67

üí°Uso de **count()** se utiliza para saber la cantidad de veces que aparece un determinado elemento en una lista.

tarea:verificar la ocurrencia del numero 1 en la lista de numero previamente

vemos que el 32 aparece una vez

In [35]:
(ListaDeRoles[len(ListaDeRoles)-1]).count(22)

1

In [36]:
ListaDeRoles.count('Analista de Datos')

1

üí°Uso de **extend()** se utiliza para extender o unificar dos listas

tarea: agregar una lista de strings a la lista de roles

In [48]:
ListaDeNombres = ['pedro','Mariano','Mauricio','Lucas','Rocio','gisela','Matias','Irene',1,2,3,['123','1']]

In [49]:
ListaDeNombres

['pedro',
 'Mariano',
 'Mauricio',
 'Lucas',
 'Rocio',
 'gisela',
 'Matias',
 'Irene',
 1,
 2,
 3,
 ['123', '1']]

In [41]:
ListaDeRoles

['Analista de Datos',
 'Mago de Datos',
 'Ingeniero de Datos',
 'Cientifico de Datos',
 'Arquitecto de Datos',
 'Desarrollador',
 'Mago de Datos',
 [33, 22, 12]]

a mi "lista de roles"le incorporo mi "lista de nombres " con **extend**

In [50]:
ListaDeRoles.extend(ListaDeNombres)
ListaDeRoles

['Analista de Datos',
 'Mago de Datos',
 'Ingeniero de Datos',
 'Cientifico de Datos',
 'Arquitecto de Datos',
 'Desarrollador',
 'Mago de Datos',
 [33, 22, 12],
 'pedro',
 'Mariano',
 'Mauricio',
 'Lucas',
 'Rocio',
 'gisela',
 'Matias',
 'Irene',
 1,
 2,
 3,
 ['123', '1']]

In [53]:
len(ListaDeRoles)

20

üí°Uso de **index()** se utiliza para saber la posicion de un determinado elemento

tarea:se quiere saber en que posicion equedo "data engineer"

In [54]:
ListaDeRoles.index('pedro')

8

üí°Uso de **remove()** se utiliza para eliminar un elemento de la lista

tarea: se quiere saber en que posicion qued√≥ el "data analyst"

In [55]:
ListaDeRoles.remove('pedro')

In [56]:
ListaDeRoles

['Analista de Datos',
 'Mago de Datos',
 'Ingeniero de Datos',
 'Cientifico de Datos',
 'Arquitecto de Datos',
 'Desarrollador',
 'Mago de Datos',
 [33, 22, 12],
 'Mariano',
 'Mauricio',
 'Lucas',
 'Rocio',
 'gisela',
 'Matias',
 'Irene',
 1,
 2,
 3,
 ['123', '1']]

por ultimo,queremos sacar el promedio de la lista de numeros que se agreg√≥ previamente

primero buscamos la posicion en que est√°

In [57]:
ListaDeRoles.index([33,22,12])

7

In [58]:
cantidadDeElementos = len(ListaDeRoles[7])
suma = sum(ListaDeRoles[7])
promedio = suma/cantidadDeElementos
print(f'el promedio es {promedio}')

el promedio es 22.333333333333332

Funciones
1. La palabra clave def
2. Un nombre de funci√≥n
3. Par√©ntesis '()', y dentro de los par√©ntesis los par√°metros de entrada, aunque los par√°metros de entrada sean opcionales.
4. Dos puntos ':'
5. Alg√∫n bloque de c√≥digo para ejecutar

** asi como vimos que hay algunas funciones que nos facilitan la existencia y nos salvan de reinventar constantemente,muchas vececs (o siempre) necesitamos fucniones muy especificas que tenemos que realizarlas nosotros mismos,es por eso que no nos queda otra que aprender a hacerlas**

ejemplo:definir una funciona que sume dos variables

no olvidarse del "return"

In [59]:
def fsuma(x,y):
  return int(x) + int(y)
a=1
b=3
resultado=fsuma(a,b)
print(resultado)

4

podemos tener dos "return"

In [61]:
def fsuma(x,y):
  return int(x),int(y)
a=1
b=3
(resultado_x,resultado_y)=fsuma(a,b)
print(resultado_x)
print(resultado_y)

1
3

tarea: generar una funcion que retorne el idioma de Argentina

In [62]:
def idioma_argentina():
  return'espa√±ol'
idioma = idioma_argentina()
print(idioma)

espa√±ol

tarea:generar una funcion que tome un string y retorne el mismo string pero en mayuscula

In [67]:
def mayus(palabra):
  palabra = str(palabra).upper()
  return palabra

mayus('pEdro PerrYra1234')

'PEDRO PERRYRA1234'

tarea:generar una funcion que tome dos numeros y multiplique el primero por 2 hasta que sea mayor que el segundo

In [68]:
def funcion(x,y):
  while(x<y):
    x=2*x
    return x,y
a,b = funcion(3,90)
print(a)
print(b)

6
90

tarea:generar una funcion que tome un numero entero y que retorne si e spar o impar

In [69]:
def sumaMasDiez(x):
  return int(x)+10

suma=sumaMasDiez(11)
print(suma)

21

tarea:generar una funcion que tome un numero entero y que retorne si es par o impar

In [70]:
def par(num):
  return(num%2==0)
par(0)

True

In [72]:
def parOnoPar(a):
  if a%2 == 0:
    return 'es par'
  else:
    return 'no es par'
blip =parOnoPar(6)
print(blip)

es par